*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #99a0a5;
}

.container {
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 60px 0;
    border-radius: 10px;
    background-color: #141313;
    box-shadow: #141313 0px 7px 29px 0px;

}

.timerDisplay {
    position: relative;
    width: 110%;
    background: linear-gradient(-135deg, #0048ce, #008bfd);
    left: -5%;
    padding: 40px 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
}

.buttons {
    width: 80%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #141313;
    border: none;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}